<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
        http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <servlet>
        <servlet-name>swagger-inflector</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>io.swagger.oas.inflector.OpenAPIInflector</param-value>
        </init-param>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>
                com.fasterxml.jackson.jaxrs.yaml.JacksonYAMLProvider
            </param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>swagger-inflector</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Restricted methods</web-resource-name>
            <url-pattern>/*</url-pattern>
            <http-method>COPY</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>CONNECT</http-method>
        </web-resource-collection>

        <auth-constraint/>
    </security-constraint>

    <listener>
        <listener-class>net.qsef1256.capstone2022server.ContextStopListener</listener-class>
    </listener>

    <!-- TODO: remove this -->
    <!-- localhost ip filter -->
    <filter>
        <filter-name>Remote Address Filter</filter-name>
        <filter-class>org.apache.catalina.filters.RemoteAddrFilter</filter-class>
        <init-param>
            <param-name>allow</param-name>
            <param-value>127\.\d+\.\d+\.\d+|::1|0:0:0:0:0:0:0:1</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>Remote Address Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- TODO CSRF filter -->
<!--
    <filter>
        <filter-name>RestCSRF</filter-name>
        <filter-class>org.apache.catalina.filters.RestCsrfPreventionFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>RestCSRF</filter-name>
        <url-pattern>/rest/*</url-pattern>
    </filter-mapping>
-->

</web-app>